<!DOCTYPE html>
<html>
<head>
    <title>Voter Login</title>
    <link rel="stylesheet" href="/statics/index.css">
    <link rel="stylesheet" href="/statics/w3.css">
</head>
<body>
    <h1 class="w3-text-blue">Voter Login</h1>

    <form action="/vote/login" method="POST" class="w3-box w3-padding">
        Voter ID: <input type="number" name="voterID" required class="w3-input"><br>
        Password: <input type="text" name="password" required class="w3-input"><br>
        <button type="submit" class="w3-button w3-blue w3-margin-top">Login</button>
    </form>

    <br><a href="/" class="w3-button w3-light-grey">Back</a>
</body>
</html>
