<!DOCTYPE html>
<html>
<head>
    <title>Election Winners</title>
    <link rel="stylesheet" href="/statics/index.css">
    <link rel="stylesheet" href="/statics/w3.css">
</head>
<body>
    <h1 class="w3-text-green">Election Winners</h1>

    <table class="w3-table-all w3-bordered w3-hoverable">
        <tr><th>Position</th><th>Winner</th><th>Total Votes</th></tr>
        {% for w in winners %}
        <tr>
            <td>{{ w[0] }}</td>
            <td>{{ w[1] }}</td>
            <td>{{ w[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br><a href="/" class="w3-button w3-light-grey">Back to Home</a>
</body>
</html>
